<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inquilino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <form [formGroup]="inquilinoForm" >
        <ion-item>
          <ion-label>Nome:</ion-label>
          <ion-input name="nome" required placeholder="Digite o nome." formControlName="nome" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>CPF:</ion-label>
          <ion-input name="nome" required placeholder="Digite o número do CPF." formControlName="cpf" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Telefone:</ion-label>
          <ion-input name="telefone" placeholder="Digite o telefone ou celular." type="tel"  formControlName="telefone"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Sexo:</ion-label>
          <ion-select name="sexo" placeholder="Sexo" formControlName="sexo">
            <ion-select-option value="masculino">Masculino</ion-select-option>
            <ion-select-option value="feminino">Feminino</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Data de nascimento:</ion-label>
          <ion-input name="dtNascimento" placeholder="Digite o nome" type="date" formControlName="dtNascimento"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Estado Civil:</ion-label>
          <ion-select name="estadoCivil" placeholder="Estado Civil" formControlName="estadoCivil" >
            <ion-select-option *ngFor="let estado of estadocivil" value="{{ estado.id }}">{{estado.descricao}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Possui filhos:</ion-label>
          <ion-toggle name="possuiFilhos" color="primary" [(ngModel)]="inquilino.isPossuiFilhos" formControlName="isPossuiFilhos"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>O celular possui whasapp?</ion-label>
          <ion-toggle name="isPossuiWhatsapp" color="primary" [(ngModel)]="inquilino.isPossuiWhatsapp" formControlName="isPossuiWhatsapp"></ion-toggle>
        </ion-item>

        {{inquilinos | json}}

        <ion-item>
          <ion-button name="salvar"  [disabled]="!inquilinoForm.valid" color="primary" type="button" (click)="salvarNovoInquilino()" >Salvar</ion-button>
          <ion-button name="editar"  [disabled]="!inquilinoForm.valid" color="primary" type="button" (click)="editarNovoInquilino()">Editar</ion-button>
          <ion-button name="excluir" [disabled]="!inquilinoForm.valid" color="primary" type="button" (click)="limparDados()">Excluir</ion-button>
        </ion-item>
      
      </form>

    </ion-card-header>
  </ion-card>

  <!-- Lista de inquilinos -->
  <ion-card *ngFor="let item of itens">
    <ion-card-header>
      <ion-card-subtitle>{{item.nome}}</ion-card-subtitle>
      <ion-card-title>{{item.descricao}}</ion-card-title>
      <ion-card-subtitle>R$: {{item.valor}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>
